<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HF的个人博客</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/base1.css">
  <link rel="stylesheet" href="./css/blog_detial1.css">
  
</head>

<body>
  <nav class="navbar navbar-expand-lg padding navbar-light ">
    <a class="navbar-brand" href="./index.html">HF的个人博客</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
          <a class="nav-link" href="./index.html">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./sitemap.html">地图</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about.html">关于</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./guestbook.html">留言</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 paddingRight">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="content container-fluid row">
    <div class="content_left col-12 col-sm-7">
      <div class="blog" id="blog_detail">
        <div class="blog_title">{{title}}</div>
        <div class="blog_msg">作者：Panda 标签：{{tags}} 发布于：{{ctime}} 浏览（{{views}}）</div>
        <div class="blog_content" v-html="content"></div>
      </div>

      <div class="blog_comments" id="blog_comments">
        <span class="blog_comments_msg">当前文章：{{total}} 条留言</span>
        <div class="blog_comment" v-for="comment in comments">
          <span><b>{{comment.user_name}}</b>：{{comment.options}} 发表于 {{comment.ctime}} <a style="cursor: pointer"
              v-on:click="reply(comment.id, comment.user_name)">[回复]</a></span>
          <div>{{comment.comments}}</div>
        </div>
      </div>

      <div class="send_comment" id="send_comment">
        <span>发表评论</span>
        <div>
          <input type="hidden" id="comment_reply" value="-1">
          <input type="hidden" id="comment_reply_name" value="0">
          <input type="text" placeholder="昵称" id="comment_name">
          <input type="text" placeholder="邮箱（评论被回复时你能收到通知）" id="comment_email">
        </div>
        <div>
          <textarea placeholder="无意义的内容我可能不会回复你" id="comment_content"></textarea>
        </div>
        <div>
          <input type="text" placeholder="验证码" id="comment_code">
          <span v-html="vcode" v-on:click="changeCode()" style="cursor:pointer"></span>
        </div>
        <button v-on:click="sendComment()">提交评论</button>
      </div>
    </div>
    <div class="content_right col-3 ">
        <div class="sliderCard sCard1" id="card">
            <div class="divBg" style="background-image: url(&quot;https://qn.itliuyang.com/headbg.jpg&quot;);">
                <img src="https://qn.itliuyang.com/head.jpg" alt="" class="userImg"></div>
            <div class="divBottom">
                <p><label class="userTitle">黄后锋</label> </p>
                <p><label class="userDetail">一步一个👣的成长</label> </p>
                <div class="userInfo">
                    <label>浏览：{{viewsCount}}</label>
                    <label>评论：{{commentsCount}}</label>
                </div>
            </div>

        </div>
        <div class="right_module" id="random_tags">
            <label>随机标签云</label>
            <a :href="item.link" v-for='item in tagList'
                v-bind:style='{color:randomColor(),fontSize:randomSize()}'>{{item.text}}</a>
        </div>
        <div class="right_module" id="new_hot">
            <label>猜你喜欢</label>
            <div class="ccItem" v-for='item in newList'>
                <img :src="item.img" alt="图片" class="img">
                <div class="ccRight" >
                    <a :href='item.link'  class="ccrightTitle">{{item.title}}</a>
                    <p class="ccTime">博客 | {{item.date}}</p>
                </div>
            </div>
            <!-- <ul>
                <li v-for='item in newList'><a v-bind:href="item.link">{{item.title}}</a></li>
            </ul> -->
        </div>
        <div class="right_module" id="new_comments">
            <label>最新评论</label>
            <ul>
                <li v-for='item in commentList'>
                    <div>
                        <span>{{item.name}}</span>
                        <span class="pull_right">{{item.date}}</span>
                    </div>
                    <p>{{item.content}}</p>
                </li>
            </ul>
        </div>

    </div>
  </div>
  <footer class="footer">
    <p>CopyRight © 2019 - 2020 by hhfblog.top  <a href="http://www.beian.miit.gov.cn/" >桂ICP备20000082号</a> </p>
    <div style="width:300px;margin:0 auto; padding:0px 0 0 0; font-size:12px ">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45042202000044" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="./img/备案图标.png" style="float:left; margin-right: 5px"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 0px; color:#939393;">桂公网安备 45042202000044号</p></a>
        </div>
</footer>
<script src="./js/axios.js"></script>
<script src="./js/base.js"></script>
<script src="./js/blog_detail.js"></script>
</body>

</html>